@model SinavYonetim.Models.PersonsExam
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exam</title>
</head>
<body>
    <div> 
        @Model.Exam.Title
    </div>
</body>
</html>
