
@{
    //ViewBag.Title = "AboutUs";
    Layout = ViewBag.LayoutPath;
    //var dt = ((DateTime)ViewData["calismaZamani"]);

}

<h2>@ViewData["baslik"]</h2>
@ViewBag.CalismaZamani.ToString("dd/MM/yyyy HH:mm:ss")

