@model List<ViewDemo.Models.Person>
@{
    ViewBag.Title = "ListPersonStartWithO";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>ListPersonStartWithO</h2>

@Html.Partial("~/Views/Home/ListPersonPartial.cshtml",Model)


